<!-- Footer -->
<footer class="blog-footer">


<div class="card text-center">
  <div class="card-header">
    Blogger
  </div>
  <div class="card-body">
    <p class="text-muted">© 2023 Blogg. All rights reserved.</p>
    <a href="#" class="btn btn-primary"> <%= t 'app.footer.back_to_top' %> </a>
  </div>
</div>
</footer>